.about {
    position: sticky;
    top:$space-s;
    // height: calc(100vh - 21rem) ;
    @media only screen and (max-width:$bp-small) {
        top:$space-m;
      }
    @media only screen and (max-height:$bp-xsmall){
        // position: relative;
        top:0;
        z-index: inherit
    }      
    // @media only screen and (max-height:$bp-xsmall){
    //     position: relative;
    //     top:-2*$space-m;
    // }
}