.contact {
  position: fixed;
  top: 0rem;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 5000;
  overflow: auto;
  background-color: white;
}

.contact--main {
  @media only screen and (max-width: 824px) {
    flex-direction: column;
  }
  text-align: left;
  align-items: center;
  justify-content: center;
}

.info {
  &__detail {
    // position: sticky;
    background-color: white;
    max-width: 120rem;
    margin: 0 auto;
  }

  &__main {
    max-width: 120rem; //1200px;
    margin: 0 auto;
    text-align: left;
  }

  &__portrait {
    position: sticky;
    top: 11rem;
    max-width: 120rem;
    margin: 0 auto;
    // overflow: hidden;
    @media only screen and (max-width: 823px) {
      // margin-top: 2rem;
      top: 17rem;
    }
    img {
      width: 100%;
    }
  }
}

.client__exp--content {
  max-width: 120rem;
  margin: 0 auto;
  padding: 0;
  display: grid;

  grid-template-columns: repeat(auto-fit, minmax(300px, 320px));
  // grid-template-columns: repeat(auto-fit, 300px);
  grid-column-gap: 25px;
  grid-row-gap: 30px;
  justify-content: flex-start;
  text-align: left;

  @media only screen and (max-width: 1200px) {
    // width:calc(100vw);
  }
  @media only screen and (max-width: 824px) {
    grid-template-columns: repeat(auto-fit, 320px);
    // justify-content: space-evenly;
  }
}

.info {
  position: sticky;

  &__detail {
    // border:1px solid black;
    position: sticky;
    background-color: white;
    max-width: 120rem;
    margin: 0 auto;
    text-align: left;

    @media only screen and (max-width: 1200px) {
      width: calc(100vw);
      padding-left: 4.8rem;
      padding-right: 4.8rem;
    }
  }

  &__title {
    padding-top: 3.4rem;
    padding-bottom: 2.9rem;
    text-transform: uppercase;
  }

  &__content {
    &__rte {
      margin: 0 auto;
    }
  }

  &__wrapper {
    display: flex;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
  }
}

.info__inner {
  padding-top: 11rem;
  @media only screen and (max-width: 823px) {
    padding-top: 17rem;
  }
}
