.footer {
    position: sticky;
    // bottom: 0;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    min-height: $space-s;
    background-color: $footer-bg;
    color:$footer-text;


 &__items {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
    color:$footer-text;
  }
  
  &__item {
    display: inline;
    margin:1rem; //.7rem;
    cursor: pointer;
  }

}