
.portfolio {
    width:120rem;
    max-width: 120rem;
    margin:0 auto;
    padding:0;
    display:grid;

    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-column-gap: 25px;
    grid-row-gap: 30px;
    justify-content: space-evenly ;
    text-align: left;

    padding: 0 0 11rem 0;

    @media only screen and (max-width:1200px) {
      width:calc(100vw); 
      padding-left:4.8rem;
      padding-right:4.8rem;
    } 
    @media only screen and (max-width:$bp-small) {
      justify-content: space-evenly ;
      padding: 0 4.8rem 8rem 4.8rem;
    }


    &__container {
      position: sticky;

      background-color: white;
      text-align: left;
      @media only screen and (max-height:$bp-xsmall){
        position: relative;
      }

    }

    &__title {
      width: 120rem;//920px;
      max-width: 120rem;//96rem;
      height: $space-s;

      display: flex;
      align-items: center;
      margin:0 auto;
  
      @media only screen and (max-width:1200px) {
        width:calc(100vw); 
        padding:0 4.8rem;
      } 

    }
}


