
@keyframes zoom-in {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0);
  }
}
/* Zoom Out */
@keyframes zoom-out {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}

/* Move In */
@keyframes move-in {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(0%);
  }
}
/* Move Out */
@keyframes move-out {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(100%);
  }
}

/* Move Down */
@keyframes move-down {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(0%);
  }
}
/* Move Out */
@keyframes move-up {
  0% {
    transform: translateY(0%);
  }
  100% {
    transform: translateY(-100%);
  }
}


.zoomIn {
  animation: zoom-in 0.5s ease-in-out forwards;
}
.zoomOut {
  animation: zoom-out 0.5s ease-in-out forwards;
}
.moveIn {
  animation: move-in 0.5s ease-in-out forwards;
}
.moveOut {
  animation: move-out 0.5s ease-in-out forwards;
}
.moveDown {
  animation: move-down 0.5s ease-in-out forwards;
}
.moveUp {
  animation: move-up 0.5s ease-in-out forwards;
}




.portfolio {
    width:120rem;
    max-width: 120rem;
    margin:0 auto;
    padding:0;
    display:grid;

    // grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-column-gap: 25px;
    grid-row-gap: 30px;
    justify-content: space-evenly ;
    text-align: left;

    // @media only screen and (max-width:1024px) {
    @media only screen and (max-width:1200px) {
      width:calc(100vw); 
      padding-left:4.8rem;
      padding-right:4.8rem;
    } 
    @media only screen and (max-width:824px) {
      grid-tempxlate-columns: repeat(auto-fit, minmax(300px, 1fr));
      // grid-template-columns: repeat(auto-fit, 320px);
      justify-content: space-evenly ;
    }

    padding: 0 0 11rem 0;


    &__container {
      position: sticky;
      background-color: white;
      text-align: left;
    }

    &__title {
      width: 120rem;//920px;
      max-width: 120rem;//96rem;
      height: 11rem;
      display: flex;
      align-items: center;
      margin:0 auto;
  
      @media only screen and (max-width:1200px) {
        width:calc(100vw); 
        padding:0 4.8rem;
      } 
      @media only screen and (max-width:824px) {
        text-align: center;
      }
    }
}


