.reel__main {
  position: sticky;
  top: 11rem;
  @media only screen and (max-width:823px) {
    //width:80vw;
    top:17rem; //8.5rem;
   // padding-bottom: 3.6rem;
  }
  //background-color: green;
  width:100vw;
  //padding-bottom: 5rem;

  // border:1px solid red;
}

.reel {

  // border:1px solid blue;
    // width: 60%;
    //width: 920px;

    max-width: 120rem; //1200px;
    
    margin: 0 auto;
    padding:0;
    //padding-top: 12rem;
    //padding-top: 9.6rem;


    
   // height:100vh;
    //width:auto;
   // border:1px solid black;
    // @media only screen and (max-width:1000px) {
    //   width: 680px;
    // }

    @media only screen and (max-width:1024px) {
     // width:85vw; 
     // padding-top: 8.4rem + 8.4rem
  }


  // @media only screen and (max-width:768px) {
    @media only screen and (max-width:823px) {
      //width:80vw;
     // padding-top:13.6rem; //8.5rem;
    }

    &__container {
        position: relative;
        padding-bottom:56.25%;
        height: 0;
        overflow: hidden;
       // max-width: 100%;
 
        iframe, 
        object,
        embed {
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
        }
    
    }
}

// .reel__space {
//   display: block;
//   height: 4rem;
// }