@import url('https://fonts.googleapis.com/css?family=Saira+Extra+Condensed:400,500,600,700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Saira:400,500,600,700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Saira+Condensed:400,500,600,700&display=swap');
@import "./components/variables.scss";
@import "./components/header.scss";
@import "./components/about.scss";
@import "./components/reel.scss";
@import "./components/portfolio.scss";
@import "./components/project-page.scss";
@import "./components/portfolio-item.scss";
@import "./components/footer.scss";

* {
  box-sizing: border-box;
  margin:0;
  padding:0;
}
 
// $bp-largest:75em; //1200px
// $bp-large:68.75em; //1100px
// $bp-medium:56.25em;// 900px
// $bp-small:840px;//768px;//37.5em; // 600px;
// $bp-xsmall:31.25em; // 600px;

// $space-xs:4.8rem;
// $space-s:11rem;
// $space-m:17rem;

// $max-width:120rem;

html, body {
  height: 100%;
}

html {
  font-size:62.5%; 
  // overflow-x: hidden;
  @media only screen and (max-width: $bp-large) {
      font-size: 60%;
  }
  @media only screen and (max-width: $bp-small) {
      font-size: 50%;
  }

  scroll-behavior: smooth;

}

body {
  margin: 0;
  padding:0;
  font-family: 'Saira', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow: auto;
}

h1 {

  &.logo {
    font-size: 4.8rem;
    line-height: 4.8rem;
    font-weight: 700;
    @media only screen and (max-width: $bp-small) {
      font-size: 3.6rem;
      line-height: 3.6rem;
    }

    @media only screen and (max-height:$bp-xsmall){
        font-size: 3.2rem;
    }
  }

  &.title {
    font-size: 4.8rem;
    line-height: 4.8rem;
    font-weight: 500;
    @media only screen and (max-width: $bp-small) {
      text-align: center;
    }
    @media only screen and (max-width: $bp-small) {
      font-size: 3.6rem;
      line-height: 3.6rem;
    }
    
  }
  display: inline;
  font-family: 'Saira Extra Condensed', sans-serif;
  text-transform: uppercase;
  margin: 0;
}


h2 {
  &.menu {
    font-size: 1.6rem;
  }

  &.item {
    font-size: 1.8rem;
  }

  display: inline;
  font-family: 'Saira', sans-serif;
  font-weight: 700;
  text-transform: uppercase;
}
h3 {

&.client {
  font-size: 2rem;
  line-height: 1.8rem;
}

&.skills {
  font-size: 2rem;
  line-height: 1.8rem;
}

  display: inline;

  font-family: 'Saira Condensed', sans-serif;
  font-size: 2rem;
  line-height: 1.6rem;
  font-weight: 600;
}

h4 {

  font-family: 'Saira', sans-serif;
  font-size: 1.6rem;
  line-height: 1.8rem;
  font-weight: 500;
  text-transform: uppercase;
  margin: 0 ;
}


p {

  &.content {
    font-family: 'Saira', sans-serif;
    display: inline;
    font-size: 1.8rem;
    line-height: 2.4rem; 
  }

  &.client_p {
    font-size: 2.1rem;
    line-height: 2rem;
  }
  display:inline;
  font-family: 'Saira Condensed', sans-serif;
  font-size: 1.8rem;
  line-height: 1.8rem;
  margin:0;
  font-weight: 400;
}


.space-m {
  padding-bottom: 6rem;
}

.space-l {
  padding-bottom: 11rem;
}




.dark__link {
  text-decoration: none;
  color:black;
  text-transform: uppercase;

  &:hover {
    border-bottom: 2px solid black;
  }
}



.light__link {
  text-decoration: none;
  color:$footer-text;
  text-transform: uppercase;

  &:hover {
    border-bottom: 2px solid $footer-text;
  }
}